/* Copyright 2015 Olaf Frohn https://github.com/ofrohn, see LICENSE */
body { margin:0; padding:0; background: #000; }

.sun { stroke : #ff0; fill : #ff0; }
.planet { fill: #fff; stroke: #fff; }
.sbo { fill: #fff; stroke: transparent; }
.dot { stroke: #fff; stroke-width: 0.5;  stroke-dasharray: 2,3; fill:transparent; }